body {
    font-family: Arial;
    margin: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 6px;
}

a {
    text-decoration: none;
    color: blue;
}
